# git ls-files --others --exclude-from=.git/info/exclude
# Lines that start with '#' are comments.
# For a project mostly in C, the following would be a good set of
# exclude patterns (uncomment them if you want to use them):
# *.[oa]
# *~

# - ---------------------------------------------------------------------------- -
# -                                  Sensitive                                   -
# - ---------------------------------------------------------------------------- -
/.Xauthority

# - ---------------------------------------------------------------------------- -
# -                                Machine-local                                 -
# - ---------------------------------------------------------------------------- -
/.xstartwm
/.xprofile
/.Xauthority
/.profile
/.zprofile

# - ---------------------------------------------------------------------------- -
# -                          Exclude all that is unholy                          -
# - ---------------------------------------------------------------------------- -
**/__pycache__/
**/cache/
**/Cache/
/*.*~
/**/*.*~
/*.pid
/**/*.pid
**/.dub/
.node_*
.node_*/
dub.selections.json
/.*_history

# - ---------------------------------------------------------------------------- -
# -                          Stray temp files to remove                          -
# - ---------------------------------------------------------------------------- -
/*.md
/*.txt

# - ---------------------------------------------------------------------------- -
# -                               Home dir ignore                                -
# - ---------------------------------------------------------------------------- -
# programs
/.TrenchBroom/

# services

# browsers
/.lynxrc

# git / languages
/.npm/
/.luarocks/
/.go/
/.ssh/
/.pki/
/.cargo/
/perl5/
/.cpanm/
/.cpan/

# files
/.inputrc
/.hashes
/.viminfo
/.wget-hsts
/.rnd

# misc
/.screenlayout/
/.icons/

# desktop
/downloads/
/documents/

# sys
/.var/
/.gnupg/
/.dbus/
/.cache/

# games

