[user]
	email = nxuv@disr.it
	name = nxuv
    signingKey = /home/nxuv/.ssh/id_rsa.pub

[sendemail]
    smtpserver = disroot.org
    smtpuser = nxuv@disr.it
    smtpencryption = ssl
    smtpserverport = 465

[credential "smtp://nxuv%40disr.it@disroot.org:465"]
    ; important line, see https://stackoverflow.com/questions/79696018
    helper =
    helper = "!pass git/nxuv@disr.it"

[init]
	defaultBranch = master
	; templatedir = /home/al1-ce/.git-templates

[core]
	filemode = false

[merge]
    conflictstyle = diff3

[diff]
    colorMoved = default

[push]
	autoSetupRemote = true
    recurseSubmodules = on-demand

[gpg]
	format = ssh

[commit]
	gpgSign = true

[column]
	ui = auto

[alias]
    side = !/bin/ydiff -s -w0 --wrap
	fpush = push --force-with-lease
    pullsubmodules = submodule update --recursive
    lg1 = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(auto)%d%C(reset)' --all
    lg2 = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(auto)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)'
    lg = lg1
    st = status -s
    conf = config --global --edit
    uncommit = reset HEAD
    amend = commit --amend
    patch = apply --verbose
    make-patch = format-patch

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true

[maintenance]
	repo = /g/sily
	repo = /g/sily-docs
	repo = /g/clib
	repo = /g/faux

[safe]
	directory = /g/AtheOS
	directory = /g/godot-dlang
	directory = /g/confed
	directory = /g/aur/confed
