# git ls-files --others --exclude-from=.git/info/exclude
# Lines that start with '#' are comments.
# For a project mostly in C, the following would be a good set of
# exclude patterns (uncomment them if you want to use them):
# *.[oa]
# *~

# - ---------------------------------------------------------------------------- -
# -                                  Sensitive                                   -
# - ---------------------------------------------------------------------------- -
/.Xauthority

# - ---------------------------------------------------------------------------- -
# -                                Machine-local                                 -
# - ---------------------------------------------------------------------------- -
/.xstartwm
/.xprofile
/.Xauthority

# - ---------------------------------------------------------------------------- -
# -                          Exclude all that is unholy                          -
# - ---------------------------------------------------------------------------- -
**/__pycache__/
**/cache/
**/Cache/
/*.*~
/**/*.*~
**/.dub/
.node_*
.node_*/
dub.selections.json

# - ---------------------------------------------------------------------------- -
# -                               Home dir ignore                                -
# - ---------------------------------------------------------------------------- -
# programs
/.TrenchBroom/

# services

# browsers

# git / languages
/.npm/
/.luarocks/
/.go/
/.ssh/
/.pki/
/.cargo/

# files
/.inputrc

# misc
/.screenlayout/
/.icons/

# desktop
/downloads/
/documents/

# sys
/.var/
/.gnupg/
/.dbus/
/.cache/

# games

