/yadm/
/zathura/
/zsh/
/wezterm/
/ranger/
/*.xbel
/*.log
/qtile/
/nyxt/
/nvim/
/npm/
/krita/
/godot/
/gem/
/gh/
/bin/
# zsh package manager
/zap/
/code-d/
/falkon/
/flatpak/
/gvfs-metadata/
/nemo/
/Trash/
/Vial/
/zap/
/keyrings/
/fonts/
