INCLUDE:/etc/lynx.cfg

STARTFILE:https://sily.dev/
# HELPFILE:file:///usr/share/doc/lynx/lynx_help/lynx_help_main.html

# - ---------------------------------------------------------------------------- -
# -                                .h1 Appearance                                -
# - ---------------------------------------------------------------------------- -
#USE_SELECT_POPUPS:TRUE
SHOW_CURSOR:TRUE
UNDERLINE_LINKS:TRUE
BOLD_HEADERS:TRUE
BOLD_H1:TRUE
BOLD_NAME_ANCHORS:TRUE

ACCEPT_ALL_COOKIES:TRUE


KEYMAP:^r:RELOAD           # Reload the current document and redisplay
KEYMAP:u:PREV_DOC          # Undo PREV_DOC)
KEYMAP:q:QUIT              # Ask the user to quit
KEYMAP:Q:ABORT             # Quit without verification
KEYMAP:^d:NEXT_PAGE        # Move down to next page (space)
KEYMAP:^u:PREV_PAGE        # Move up to previous page
KEYMAP:k:PREV_LINK         # Move display up two lines
KEYMAP:j:NEXT_LINK         # Move display down two lines
KEYMAP:^l:REFRESH          # Refresh the screen
KEYMAP:g:HOME              # Go to top of current document
KEYMAP:G:END               # Go to bottom of current document
KEYMAP:K:UP_TWO            # Move to the previous link or page
KEYMAP:J:DOWN_TWO          # Move to the next link or page
KEYMAP:^]:ACTIVATE         # Select the current link
KEYMAP:h:PREV_DOC          # Return to the previous document in history stack
KEYMAP:l:ACTIVATE          # Select the current link
KEYMAP:/:WHEREIS           # Find a string within the current document
KEYMAP:n:NEXT              # Find next occurrence of string within document
KEYMAP:m:ADD_BOOKMARK      # Add current document to bookmark list
KEYMAP:':VIEW_BOOKMARK     # View the bookmark list
KEYMAP:?:TOGGLE_HELP       # Show other commands in the novice help menu
KEYMAP:^[::LKCMD           # set (only) line-edit action for ^V
KEYMAP:^[:SWITCH_DTD:LKCMD # set main lynxaction and line-edit action for ^V
KEYMAP:c:ELGOTO            # Edit the current link's URL or ACTION and go to it
KEYMAP:^o:FASTBACKW_LINK   # Back Tab - Move to previous link or text area
KEYMAP:^i:FASTFORW_LINK    # Tab key - Move always to next link or text area

# TRUSTED_EXEC:lynxcgi://localhost/ /home/nxuv/.config/lynx/scripts/proxy.pl
# TRUSTED_LYNXCGI:file:///home/nxuv/.config/lynx/scripts/proxy.pl
# TRUSTED_LYNXCGI:file://localhost/home/nxuv/.config/lynx/scripts/proxy.pl
# TRUSTED_EXEC:file://localhost/home/nxuv/.config/lynx/scripts/proxy.pl
# ALWAYS_TRUSTED_EXEC:file://localhost/home/nxuv/.config/lynx/scripts/proxy.pl
# TRUSTED_LYNXCGI:lynxcgi://localhost/
# unsure unsure
TRUSTED_LYNXCGI:https://	/home/nxuv/.config/lynx/scripts/proxy.pl
TRUSTED_EXEC:https://	/home/nxuv/.config/lynx/scripts/proxy.pl
ALWAYS_TRUSTED_EXEC:https://	/home/nxuv/.config/lynx/scripts/proxy.pl
# TRUSTED_LYNXCGI:/home/
LOCAL_EXECUTION_LINKS_ALWAYS_ON:TRUE
LOCAL_EXECUTION_LINKS_ON_BUT_NOT_REMOTE:FALSE

# xhttps_proxy="lynxcgi://localhost${PWD}/proxy.pl?/" lynx

