#!/bin/sh

# xset s 0 0
# xset s off
# TODO: move it somewhere where it'd work

# streamdeck --no-ui &
# companion &
# nohup gromit-mpx > /tmp/gromit-mpx.log &

# twm &
# xclock -geometry 50x50-1+1 &
# xterm -geometry 80x50+494+51 &
# xterm -geometry 80x20+494-0 &
# exec xterm -geometry 80x66+0+0 -name login

# # TODO: put in other place
# xinput create-master "Touh"
# xinput reattach "Melfas LGDisplay Incell Touch" "Touch pointer"
# xinput map-to-output "Melfas LGDisplay Incell Touch" DP-0
# systemctl --user enable opentabletdriver --now

# [ -f ~/.screenlayout/main.sh ] && . ~/.screenlayout/main.sh

numlockx &
xsettingsd &
dunst &
# picom &
pasystray &
powerkit &
blueman-applet &
blueman-tray &
# yandex-disk start &
# yandex-disk-indicator &
# lxpolkit &
lxqt-policykit-agent &

# mpv --volume=80 "$HOME/.dotfiles/audio/boot.mp3" &

# unclutter --timeout 2147483647 --hide-on-touch -b &
# start-pulseaudio-x13 &

